body{
    background-color: rgb(2, 255, 137);
}

@media (min-width: 1000px) {
    body {
        background-color: blue;
    }
    h1 {
         font-size: 60px;
}
}

@media (min-width: 700px) and (max-width: 999px) {
    body {
        background-color: purple;
    }
    h1 {
        font-size: 40px;
}
}

@media (min-width: 300px) and (max-width: 700px) {
body {
    background-color: rgb(158, 177, 237);
}
h1 {
    font-size: 20px;
}
}

@media (max-width: 300px) {
    h1 {
        font-size: 14px;
    }
}