@charset "UTF-8";

body {
    background-color: rgb(107, 246, 102);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: yellow;
    background-color: goldenrod;
}

h2 {
    color: red;
}

p {
    text-align: justify;
}